@import url(./include/reset.css);
@import url(./include/estructure.css);
@import url(./include/animation.css);
@import url(./include/video-responsive.css);
@import url(./include/boostrap-customs.css);
body {
    font-family: 'Montserrat', sans-serif;
    background-color: #E62C03;
    background: #000 url('../img/cine.jpg');
    background-position: center;
    background-attachment: contain;
    background-size: cover;
}

/** HEADER **/

body>header {
    left: 0;
    top: 0;
    right: 0;
    position: fixed;
    z-index: 20;
}

body>header div.menu.scrollView {
    background-color: #20100A;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
}

body>header div.menu {
    background: transparent;
    height: 60px;
}

body>header div.menu div.logo {
    font-weight: bold;
    margin-left: 10px;
}

body>header div.menu div.logo span {
    color: rgba(253, 76, 0);
    font-size: 30px;
}

body>header div.menu nav.navigation a {
    color: #fff;
    font-size: 0.8rem;
    text-transform: uppercase;
    padding: 0 10px;
    letter-spacing: 2px;
    font-weight: 700;
}

body>header div.menu nav.navigation a:hover {
    text-shadow: rgba(253, 76, 0, 0.5) 0 3px 8px;
    color: rgba(253, 76, 0);
}

body>header div.menu nav.social {
    margin-right: 10px;
}

body>header div.menu nav.social a {
    font-size: 18px;
    color: #fff;
    padding: 0 5px;
}

body>header div.menu nav.social a:hover {
    text-shadow: rgba(253, 76, 0, 1) 0 3px 8px;
}

body>header div.menu nav.login {
    padding-right: 1rem;
}

body>header div.menu nav.login button:hover {
    cursor: pointer;
}

body>header div.menu nav.login a.logout {
    color: red;
}

/** MAIN **/

body>main {
    padding-top: 61px;
}

/** MAIN / INICIO **/

body>main div.slogan {
    height: calc(100vh - 100px);
}

body>main div.slogan p {
    font-family: 'Lora', serif;
    font-size: 2rem;
    text-shadow: 1px 1px 2px black, 0 0 1em #20100A, 0 0 0.2em #20100A;
    width: 100%;
    color: #fff;
    font-weight: 300;
    text-align: center;
    line-height: 1.6;
    margin: auto;
}

body>main div.slogan {
    height: calc(100vh - 100px);
}

/** MAIN / LOGIN & CONTACT **/

body>main section.contact-form {
    margin: 1rem;
    padding: 1rem;
    background-color: rgba(32, 16, 10, 0.8);
    color: rgba(253, 76, 0);
    max-width: 45%;
}

body>main section.contact-form label {
    font-size: 0.6rem;
    text-transform: uppercase;
    padding: 0 10px;
    letter-spacing: 2px;
    background-color: #20100A;
}

body>main section.contact-form div.form-group {
    margin-top: 1.5rem;
}

/** MAIN / MOVIES **/

body>main section.categories section.movies>header {
    padding: 1rem;
    font-size: 1.2rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 2px black, 0 0 1em #20100A, 0 0 0.2em #20100A;
}

body>main section.categories section.movies section.movie {
    letter-spacing: 1px;
    padding: 10px;
}

body>main section.categories section.movies section.movie h3 {
    color: #fff;
    min-width: 100%;
    font-size: 1.5rem;
    line-height: 1.5rem;
    padding: 5px;
}

body>main section.categories section.movies section.movie h4 {
    color: #fff;
    font-size: 0.7rem;
    text-align: right;
    margin: 5px 0 5px 0;
}

body>main section.categories section.movies section.movie p {
    font-family: 'Lora', serif;
    font-size: 0.8rem;
    font-weight: 400;
}

body>main section.categories section.movies section.movie img {
    width: 100%;
    filter: saturate(33%);
    transform: scale(.9);
}

body>main section.categories section.movies section.movie img:hover {
    animation: img-filter-on-hover;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    box-shadow: 1px 1px 2px black, 0 0 1em #20100A, 0 0 0.2em #20100A;
}

body>main section.categories section.recommended-movies {
    background: rgba(253, 76, 0, 0.9);
    color: #20100A;
}

body>main section.categories section.classical-movies {
    background-color: rgba(32, 16, 10, 0.8);
    color: rgba(253, 76, 0);
}

/** MAIN / THANKS **/

body>main section.thanks {
    margin: 1rem;
    padding: 1rem;
    background-color: rgba(32, 16, 10, 0.8);
    color: rgba(253, 76, 0);
    max-width: 80%;
}

body>main section.thanks img {
    width: 200px;
}

body>main section.thanks a {
    color: white;
}

body>main section.thanks a:hover {
    text-decoration: underline;
}

/** FOOTER **/

body>footer {
    background: #000000D0;
    height: 200px;
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

body>footer nav.pie {
    font-size: 0.7rem;
}

body>footer nav.pie a {
    color: #e6a58f;
}

body>footer nav.social a {
    font-size: 18px;
    padding: 0 5px;
    color: #e6a58f;
}

body>footer nav.social a:hover {
    text-shadow: rgba(253, 76, 0, 0.5) 0 3px 8px;
}

body>footer nav.social {
    display: none;
}

/** BOTONES **/

.cta-button {
    background-image: linear-gradient(-180deg, #FF7E31, #E62C03);
    border-radius: 6px;
    box-shadow: rgb(0 0 0 / 10%) 0 2px 4px;
    color: #FFFFFF;
    height: 30px;
    line-height: 30px;
    text-transform: uppercase;
    outline: 0;
    overflow: hidden;
    width: 100%;
    transition: box-shadow .2s;
    border: 0;
}

.cta-button:hover {
    box-shadow: rgba(253, 76, 0, 0.5) 0 3px 8px;
    font-weight: 700;
}

/***** MEDIA QUERY 800 ***********/

@media all and (max-width: 800px) {
    body {
        background-position: right;
    }
    body>header div.menu {
        flex-direction: column;
        height: 95px;
    }
    body>header div.menu div.logo {
        margin: 10px;
    }
    body>header div.menu nav.social {
        display: none;
    }
    body>header div.menu nav.navigation {
        margin-bottom: 15px;
    }
    body>header div.menu nav.navigation a {
        text-align: center;
        font-size: 1.0rem;
    }

    body > header div.menu nav.login {
        margin-top: -25px;
    }
    
    body>header div.menu nav.login button {
        margin-top: 10px;
        margin-bottom: 10px;
        width: 200px;
        appearance: button;
        padding: 5px, 20px;
    }
    body>main {
        padding-top: 95px;
    }
    body>main section.categories section.movies section.movie {
        flex: 1 1 30%;
    }
    body>main section.contact-form {
        max-width: 60%;
    }
    body>footer nav.social {
        display: inline-block;
    }
}

/***** MEDIA QUERY 600 ***********/

@media all and (max-width: 600px) {
    body>main section.categories section.movies section.movie {
        flex: 1 1 40%;
    }
    body>main section.contact-form {
        max-width: 70%;
    }
}

/***** MEDIA QUERY 400 ***********/

@media all and (max-width: 400px) {
    body>header div.menu nav.navigation a {
        font-size: 0.7rem;
    }
    body>header div.menu nav.social {
        display: none
    }
    body>header div.menu nav.login button {
        width: 200px;
        font-size: 0.8rem;
    }
    body>main section.categories section.movies {
        flex-direction: column;
    }
    body>main section.contact-form {
        max-width: 90%;
    }
}